html, body {
    background-color: #141414;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(Assets/backImage.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 50%;
    background-position-x: 15%;
}

* {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: SegoeIcons;
    src:url("Assets/Segoe Fluent Icons.ttf");
}

@font-face {
  font-family: Consolas;
  src:url("Assets/consola.ttf");
}

header {
    -webkit-app-region: drag;
    height: 35px;
    background-color: #111111;
}

.exit {
    -webkit-app-region: no-drag;
    color: 	white;
    position: relative;
    float: right;
    font-size: 12pt;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-family: SegoeIcons;
}

.exit:hover {
    cursor: pointer;
    background-color: #ff0000;
    color: white;
}

.min {
    -webkit-app-region: no-drag;
    color: 	white;
    position: relative;
    float: right;
    font-size: 12pt;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-family: SegoeIcons;
}

.min:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}

.logo {
    position: relative;
    height: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    filter: brightness(100%);
    z-index: 9999;
    cursor: pointer;
}

#canvas {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -99;
    background-color: transparent;
}

#editor {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 96%;
    width: 50%;
    background-color: #111111;
    color: rgb(180, 180, 180);
    font-size: 14pt;
    overflow-y: scroll;
    outline: none;
    border: none;
    resize: none;
    padding-left: 5px;
    padding-top: 10px;
    display: block;
    z-index: -1;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

#editor::selection {
    background-color: #DF77FF;
    color: white;
}

#open {
  -webkit-app-region: no-drag;
  background-color: transparent;
  color: grey;
  position: relative;
  left: 1.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: none;
  border: none;
  height: 30px;
  width: 40px;
  font-family: SegoeIcons;
  font-size: 12pt;
  border-left: 1px solid rgb(48, 48, 48);
}

#open:hover {
  color: #DF77FF;
  cursor: pointer;
}

#save {
    -webkit-app-region: no-drag;
    background-color: transparent;
    color: grey;
    position: relative;
    left: 1%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: none;
    border: none;
    height: 30px;
    width: 40px;
    font-family: SegoeIcons;
    font-size: 12pt;
    border-right: 1px solid rgb(48, 48, 48);
}

#save:hover {
    color: #DF77FF;
    cursor: pointer;
}

#run {
    -webkit-app-region: no-drag;
    background-color: transparent;
    color: grey;
    position: relative;
    left: 1%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: none;
    border: none;
    height: 30px;
    width: 30px;
    font-family: SegoeIcons;
    font-size: 12pt;
}

#run:hover {
    color: #DF77FF;
    cursor: pointer;
}

#edit {
    -webkit-app-region: no-drag;
    background-color: transparent;
    color: grey;
    position: relative;
    left: 1%;
    top: 48%;
    transform: translate(-50%, -50%);
    margin: none;
    border: none;
    height: 30px;
    width: 30px;
    font-family: SegoeIcons;
    font-size: 12pt;
}

#edit:hover {
    color: #DF77FF;
    cursor: pointer;
}

#capture {
    -webkit-app-region: no-drag;
    background-color: transparent;
    color: grey;
    position: relative;
    left: 1%;
    top: 48%;
    transform: translate(-50%, -50%);
    margin: none;
    border: none;
    height: 30px;
    width: 30px;
    font-family: SegoeIcons;
    font-size: 12pt;
}

#capture:hover {
    color: #DF77FF;
    cursor: pointer;
}

#editor::-webkit-scrollbar {
    width: 2px;
}
 
#editor::-webkit-scrollbar-track {
  background-color: transparent;
}
 
#editor::-webkit-scrollbar-thumb {
  background-color: #DF77FF;
  outline: none
}

#filename {
  position: absolute;
  left: 50%;
  top: 1%;
  transform: translate(-50%, -15%);
  text-align: center;
  color: white;
  font-size: 12pt;
  font-family: Arial, sans-serif;
}